---
permalink: /sitemap.xml
layout: null
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
  {%- if page.url and page.data.eleventyExcludeFromCollections != true and page.url != '/sitemap.xml' %}
  <url>
    <loc>{{ site.url }}{{ page.url }}</loc>
    {%- if page.date %}
    <lastmod>{{ page.date | isoDate }}</lastmod>
    {%- endif %}
  </url>
  {%- endif %}
{%- endfor %}
  <url>
    <loc>{{ site.url }}/explore/industries/</loc>
  </url>
{%- for industry in exploreIndustries %}
  <url>
    <loc>{{ site.url }}/explore/industries/{{ industry.slug }}/</loc>
  </url>
{%- endfor %}
{%- for category in videoTutorials.categories %}
  <url>
    <loc>{{ site.url }}/video-tutorials/{{ category.slug }}/</loc>
  </url>
{%- endfor %}
</urlset>
