<nav class="explore-nav" aria-label="Explore site">
  <div class="container explore-nav-inner">
    <a href="/explore/" class="explore-nav-link{% if page.url == '/explore/' %} is-active{% endif %}">Home</a>
    <a href="/explore/platform/" class="explore-nav-link{% if page.url == '/explore/platform/' %} is-active{% endif %}">Platform</a>
    <span class="explore-nav-label">Industries</span>
    <ul class="explore-nav-industries">
      {% for industry in exploreIndustries %}
      <li>
        <a href="/explore/industries/{{ industry.slug }}/" class="explore-nav-link{% if page.url == '/explore/industries/' ~ industry.slug ~ '/' %} is-active{% endif %}">{{ industry.name }}</a>
      </li>
      {% endfor %}
    </ul>
    <a href="/explore/book-a-call/" class="explore-nav-link explore-nav-cta{% if page.url == '/explore/book-a-call/' %} is-active{% endif %}">{{ explore.primaryCtaLabel }}</a>
  </div>
</nav>
